{% extends 'core/base.html' %}

{% load static %}

{% block content %}
<h1>Medicamentos</h1>
{% endblock %}
{% block secondary_content %}
<div class="container mt-4 mb-4">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for m in medicamentos %}
        <div class="col">
            <div class="card">
                {% if m.imagen %}
                    <img class="card-img-top" src="{{m.imagen.url}}" alt="{{m.idMedicamento}}"></td>
                {% else %}
                    <img class="card-img-top" src="{% static 'core/img/not_found.png' %}" alt="{{m.idMedicamento}}"></td>
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title fw-bold">{{m.descripcion}}</h5>
                    <p class="card-text">${{m.precio}}</p>
                    <p class="card-text font-primary">{{m.stock}}</p>
                    <p class="card-text">{{m.marca}}</p>
                </div>
                <div class="card-footer text-center">
                        {% if request.session.usuario.rol == 'USER' %}
                        <a class="btn btn-primary" href="">
                            <p>Agregar al carrito</p>
                        </a>
                        {% else %}
                        <a class="btn btn-outline-danger modal-borrar mx-auto" data-bs-toggle="modal" data-bs-target="#staticBackdrop" data-href="{% url 'registro' %}">Agregar al Carrito</a>
                    {% endif %}
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Error</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <h6 class="modal-title">Necesita iniciar sesion para ingresar al carrito .</h6>
                                </div>
                                <div class="modal-footer">
                                    <a href="{% url 'registro' %}" id="confirmar-borrar" class="btn btn-success">Ir a registro</a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
        {% endfor %}
    </div>
 </div>
 {% endblock %}


