{% extends 'crud_ubicacion/base.html' %}

{% load static %}

{% block title %}Actualizar Medicamento{% endblock %}

{% block content %}
<div class="container mt-4 py-4 text-white bg-dark rounded">
    <h1>Modificación de Datos de Medicamento</h1>
</div>
{% endblock %}

{% block secondary_content %}
<div class="container mt-4 mb-4">
    <div class="row">
        {% if 'OK' in request.GET %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Completado</strong> Empleado Actualizado satisfactoriamente.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
        {% if 'FAIL' in request.GET %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>UPS Ocurrio un problema</strong> No se logró completar la acción de registro
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group mb-3">
                <label for="idMedicamento" class="fw-bold">Id Medicamento</label>
                <div class="input-group">
                    {{form.idMedicamento}}
                </div>
            </div>
            <div class="form-group mb-3">
                <label for="descripcion" class="fw-bold">Descripción</label>
                <div class="input-group">
                    {{form.descripcion}}
                </div>
            </div>
            <div class="form-group mb-3">
                <label for="precio" class="fw-bold">precio</label>
                <div class="input-group">
                    {{form.precio}}
                </div>
            </div>
            <div class="form-group mb-3">
                <label for="stock" class="fw-bold">stock</label>
                <div class="input-group">
                    {{form.stock}}
                </div>
            </div>
            <div class="form-group mb-3">
                <label for="imagen" class="fw-bold">Imagen</label>
                <div class="input-group">
                    {{form.imagen}}
                </div>
            </div>
            <div class="form-group mb-3">
                <label for="marca" class="fw-bold">marca</label>
                <div class="input-group">
                    {{form.marca}}
                </div>
            </div>
            <div class="text-center mt-4">
                <input type="submit" class="btn btn-outline-primary btn-block py-2" id="enviar" value="Actualizar">
                <input type="reset" class="btn btn-outline-success btn-block py-2" id="limpiar" value="Limpiar">
                <a class="btn btn-outline-secondary btn-block py-2" href="{% url 'medicamento' %}">Ir a Lista</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}